<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Aliraqcars.Domain.Properties.Settings.AliraqCarsConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ALIRAQCARS_ADMDB_2017;Persist Security Info=True;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>