.by-char {
    font-size: 17px;
    color: darkgoldenrod;
    font-weight: 800;
}

td .badge {
    padding: 3px !important;
    float: left;
}

.by-char.active {
    color: #005580;
}

@media (max-width:700px) {
    .hidden-480 {
        display: none !important;
    }
}

@media screen and (max-width: 640px) {
    div.dt-buttons {
        text-align: right;
    }

    .dataTables_filter {
        float: none;
    }
}
/*master details accounts*/
.table td .action-buttons {
    margin-left: 5px;
}

    .table td .action-buttons a:hover {
        text-decoration: none;
    }

tr.detail-row {
    display: none;
}

    tr.detail-row.open {
        display: table-row !important;
    }

    .table-striped tbody > tr.detail-row:nth-child(odd) > td,
    tr.detail-row > td,
    tr.detail-row:hover td {
        background-color: #e6f4f9 !important;
    }

tr.master-row td {
    border-bottom: 3px solid #d1e1ea !important;
}
