.hr8 {
            margin: 0 0 8px 0;
        }

        #carTabs i {
            margin-left: 4px;
        }

        .select2-container {
            width: 250px;
        }

        .alert {
            margin-bottom: 10px;
            padding: 10px 0;
            font-size: 15px;
        }

        td i.amountDetails {
            cursor: pointer;
        }

        @media (max-width:700px) {
            .hidden-700 {
                display: none !important;
            }
        }

        .balance-notes::before {
            content: url(/App_Themes/iraq/images/warning.png);
        }
        .footer-summary {
            margin-left: 60px;
        }
        @media print {
            .text-hide {
                color: #d3d1d1 !important;
            }

            .row-fluid:has(> .dataTables_length),
            .row-fluid:has(> .dataTables_filter), .tbl-head-filter {
                display: none;
                visibility: hidden;
            }

            .alert-block {
                text-shadow: 0 1px 0 rgba(255,255,255,.5) !important;
                background-color: #fcf8e3 !important;
                border: 1px solid #fbeed5 !important;
            }
        }
        .btn.addBonus > .badge {
            position: absolute !important;
            left: -10px;
            top: -10px;
            padding: 1px 3px;
            text-align: center;
            font-size: 12px;
        }

        .table td {
            padding: 3px 7px;
        }