<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>شركة العراق لتجارة السيارات المستعملة وقطع غيارها</title>
</head>
<body>
    <div class="car-print-header" id="car-print-header">
        <link href="/App_Themes/iraq/bill-print.css" rel="stylesheet" />
        <header class="head"><img class="img-print" src="/Content/images/print/print-header.png" /></header>
    </div>
    <!--<div id="print-contents"></div><footer id="footer"><img class="img-print" src="/Content/images/print/print-footer.png" /></footer>-->
</body>
</html>
