<appSettings>
  <add key="deviceId" value="android-376de971-557f-4496-8ef7-28b898405fcd" />
  <add key="guid" value="376de971-557f-4496-8ef7-28b898405fcd" />
  <add key="IsArmed" value="true" />
  <add key="ArmorEncryptionKey" value="Key" />
  <add key="ArmorHashKey" value="Key" />
  <add key="ArmorTimeout" value="10000000000" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="FaceAppID" value="478748692311716" />
  <add key="FaceAppSecret" value="813d45a98abd866a96f846f3bba60c96" />
  <add key="FacePageName" value="العراق لتجارة السيارات المستعملة وقطع الغيار" />
  <add key="instagram.clientid" value="8be6127ff21b4f389cb859aadadbf0b4" />
  <add key="instagram.clientsecret" value="90a78bf8e87b48568fce4c2606ff4542" />
  <add key="owin:AutomaticAppStartup" value="true" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="UnobtrusiveJavaScriptEnabled" value="false"/>
  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  <add key="log4net.Config" value="config\log4net.config"/>
  <add key="log4net.Config.Watch" value="True"/>
  <add key="cdn" value="" />
  <add key="minify" value="true" />
  <add key="fbAccessToken" value="EAAOTFCtaTUEBAHif9PEZA5XDndukzIanF7HAmh9tbdUJhZCHH4MIZAemnkE6gtvKYjZA5px9fphUZBtu9ZCZCdbu6JmZBnobyRxtaDK0Ps4mLg38hA3bueq0cKAZBZCkhMFmGikyIOs0k76I6g4yBZA94iYIQHNZAi0eiQ2BDjEUSugiYwZDZD"/>
</appSettings>